<div class="bg-light vh-100" >
  <!-- Navigation bar using Bootstrap -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Application</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Login Link -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <!-- Register Link -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Welcome message and routed component -->
  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>
